.lead_image {
    width: 100%; /* Siempre ocupa el ancho disponible */
    height: auto; /* Mantiene proporción */
    object-fit: cover;
  }
  
  @media screen and (min-width: 768px) {
    .lead_image { margin-top: 56px; }
  }