.intro {
    padding-top: 64px;
  }
  
  .intro__title {
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.1;
  }
  
  .intro__text {
    margin: 32px 0 0;
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.9;
  }
  
  .intro__quote-author {
    margin: 12px 0 0;
    text-align: right;
    font-size: 14px;
    line-height: 1.4;
    opacity: 0.9;
  }
  
  .intro__description {
    margin: 32px 0 0;
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.9;
  }
  
  @media screen and (min-width: 768px) {
    .intro__title { font-size: 45px; }
  }
  
  @media screen and (min-width: 1280px) {
    .intro__title { font-size: 54px; }
  }