/* Base global */
* {
    box-sizing: border-box;
  }
  
  .page {
    margin: 0;
    background: #2a2c2f;
    color: #fff;
    font-family: "Inter", Arial, sans-serif;
  
    /* Mobile first */
    --container: 288px;
    overflow-x: hidden;
  }
  
  /* Contenedor centrado */
  .page__section {
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 16px;
  }
  
  /* 768+ */
  @media screen and (min-width: 768px) {
    .page {
      --container: 720px;
    }
  
    .page__section {
      padding: 0 24px;
    }
  }
  
  /* 1280+ */
  @media screen and (min-width: 1280px) {
    .page {
      --container: 984px;
    }
  
    .page__section {
      padding: 0 48px;
    }
  }