.header {
  max-width: 984px;
  margin: 0 auto;
  padding: 34px 48px 0;
  text-align: center;
}

.header__logo {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.9;
  margin: 0;
}

.header__title {
  margin: 56px 0 24px;
  font-size: 96px;
  line-height: 1;
  font-weight: 900;
  
}

.header__title-line{
  display: block;
}

.header__subtitle {
  margin: 0 auto 64px;
  max-width: 720px;
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.9;
}

.header__image {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* 768 */
@media screen and (max-width: 1024px) {
  .header {
    max-width: 720px;
    padding: 34px 24px 0;
  }

  .header__title {
    font-size: 72px;
    margin-top: 48px;
  }

  .header__subtitle {
    margin-bottom: 48px;
  }
}

/* 320 */
@media screen and (max-width: 544px) {
  .header {
    max-width: 288px;
    padding: 20px 16px 0;
  }

  .header__title {
    font-size: 40px;
    margin: 32px 0 16px;
  }

  .header__subtitle {
    font-size: 14px;
    margin-bottom: 32px;
  }
}
